        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        .rectangle {
            position: relative;
            width: 1440px;
            height: 888px;
            background: #000000;
            margin: 10px;
        }
        
        .tech {
            position: relative;
            height: 650px;
            width: 250px;
            margin-top: -60px;
        }
        
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px 70px;
        }
        
        li {
            display: inline-block;
            padding: 0px 15px;
        }
        
        li a {
            color: white;
            text-decoration: none;
        }
        
        h2 {
            padding-bottom: 20px;
            width: 487px;
            height: 110px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 53px;
            line-height: 50px;
        }
        
        p {
            padding-bottom: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            margin-top: 20px;
        }
        
        .sub1 {
            position: absolute;
            top: 250px;
            left: 50px;
            color: white;
        }
        
        .sub12 {
            width: 400px;
            height: 268px;
        }
        
        .button1 {
            background: #5548D6;
            margin-top: 40px;
            margin-right: 10px;
            border-radius: 100px;
            padding: 20px;
            color: white;
            width: 206px;
            height: 68px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
        }
        
        .button2 {
            border: 3px solid #FFFFFF;
            filter: drop-shadow(-10px -10px 30px rgba(0, 207, 131, 0.25)) drop-shadow(10px 10px 20px rgba(0, 181, 115, 0.25));
            border-radius: 100px;
            background-color: black;
            padding: 20px;
            color: white;
            width: 206px;
            height: 68px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            cursor: pointer;
        }
        
        .img2 {
            position: absolute;
            width: 600px;
            height: 750px;
            left: 779px;
            top: 195px;
        }
        
        .dot {
            position: absolute;
            width: 112px;
            height: 100px;
            left: 453px;
            top: 851px;
        }
        
        .content2 {
            position: absolute;
            width: 1363.5px;
            height: 724px;
            left: 0px;
            top: 972px;
        }
        
        .rect {
            position: absolute;
            width: 162px;
            height: 436px;
            left: 0px;
            top: 90px;
        }
        
        .it {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            width: 474px;
            height: 414px;
            margin-left: 115px;
            margin-top: 170px;
        }
        
        .techno {
            height: 26px;
            font-family: 'Varela Round';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 26px;
            color: #5548D6;
        }
        
        .h2a {
            font-family: 'Poppins';
            width: 390px;
            font-style: normal;
            font-weight: bold;
            margin-top: 10px;
            font-size: 50px;
            line-height: 62px;
            color: #0D0E25;
        }
        
        .di {
            width: 390px;
            height: 120px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin-top: 30px;
            line-height: 30px;
            color: rgba(13, 14, 37, 0.6);
            margin-bottom: 30px;
        }
        
        .button3 {
            width: 254px;
            height: 64px;
            background: #5548D6;
            box-shadow: 0px 30px 60px rgba(13, 14, 37, 0.2);
            border-radius: 100px;
            cursor: pointer;
            padding-bottom: 5px;
        }
        
        img.arrow {
            margin-left: 10px;
            margin-top: 5px;
        }
        
        .pela {
            width: 155px;
            height: 21px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            color: #F4F7FF;
        }
        
        .squre {
            width: 575px;
            height: 524px;
            position: absolute;
            left: 150px;
            top: 50px;
        }
        
        .box1 {
            position: absolute;
            width: 275px;
            height: 258px;
            left: 605px;
            top: 100px;
            background: linear-gradient(135deg, #6B73FF 0%, #000562 100%);
            box-shadow: 0px 40px 60px rgba(13, 14, 37, 0.1);
            border-radius: 10px;
            color: white;
            padding: 35px;
        }
        
        .box2 {
            position: absolute;
            width: 275px;
            height: 258px;
            left: 893px;
            top: 100px;
            border-radius: 10px;
            padding: 35px;
        }
        
        .box3 {
            position: absolute;
            width: 275px;
            height: 258px;
            left: 605px;
            top: 366px;
            border-radius: 10px;
            padding: 35px;
        }
        
        .box4 {
            position: absolute;
            width: 276px;
            height: 258px;
            left: 892px;
            top: 366px;
            background: linear-gradient(135deg, #6B73FF 0%, #000562 100%);
            box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            color: white;
            padding: 35px;
        }
        
        .span1 {
            position: relative;
            top: -13px;
            left: 15px;
            font-weight: 500;
            font-size: 19px;
            line-height: 26px;
        }
        
        .span2 {
            position: absolute;
            top: 45px;
            left: 85px;
            font-weight: 500;
            font-size: 19px;
            line-height: 26px;
            color: #0D0E25;
        }
        
        .span3 {
            position: relative;
            top: -13px;
            left: 15px;
            font-weight: 500;
            font-size: 19px;
            line-height: 26px;
            color: #0D0E25;
        }
        
        .pera1 {
            text-justify: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 27px;
        }
        
        .ellipse {
            position: absolute;
            left: 1080px;
            top: 400px;
        }
        
        .ch {
            position: absolute;
            top: 950px;
        }
        
        .re45 {
            position: absolute;
            left: 620px;
            top: 850px;
        }
        
        .intro {
            position: absolute;
            top: 850px;
            left: 170px;
        }
        
        .part3_1 {
            position: absolute;
            left: 820px;
            top: 940px;
            width: 543px;
            height: 371px;
        }
        
        .heding {
            width: 543px;
            height: 156px;
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 137.5%;
            color: rgba(0, 0, 0, 0.7);
        }
        
        .heding span {
            color: #5548D6;
        }
        
        .p2 {
            width: 460px;
            height: 69px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #697B98;
        }
        
        .p3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 10px;
            width: 582px;
            height: 40px;
            font-weight: 400;
            font-size: 15px;
            color: #193766;
        }
        
        .btn1 {
            padding: 23px 51px;
            background: #5548D6;
            border-radius: 100px;
            width: 226px;
            height: 68px;
            color: white;
            margin-top: 30px;
            font-weight: 700;
            font-size: 17px;
            cursor: pointer;
        }
        
        .rect3 {
            position: absolute;
            top: 1650px;
            left: 10px;
        }
        
        .ff {
            position: absolute;
            top: 1850px;
            left: 25px;
        }
        
        .st {
            position: absolute;
            top: 1850px;
            left: 930px;
        }
        
        .allimage {
            position: absolute;
            top: 1880px;
            left: 50px;
            padding: 15px;
        }
        
        .imagel {
            width: 210px;
            height: 126.67px;
            background: url(image.png);
            filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
        }
        
        .rectbox {
            position: absolute;
            width: 1167.11px;
            height: 619px;
            left: 115px;
            top: 2098px;
            background: #FFFFFF;
            box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
        }
        
        .image7 {
            margin-top: 23px;
        }
        
        .improve {
            position: absolute;
            left: 550px;
            top: 40px;
        }
        
        .subim1 {
            width: 501px;
            height: 151px;
            margin-top: 20px;
            background: #FFFFFF;
            box-shadow: -2px -2px 15px rgba(85, 72, 214, 0.1), 4px 4px 15px rgba(85, 72, 214, 0.1);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 13px;
            column-gap: 20px;
        }
        
        .subim2 {
            width: 501px;
            height: 147px;
            margin-top: 20px;
            background: #FFFFFF;
            box-shadow: -2px -2px 15px rgba(85, 72, 214, 0.1), 4px 4px 15px rgba(85, 72, 214, 0.1);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: px;
            gap: 20px;
        }
        
        .hed2 {
            width: 419px;
            height: 110px;
            font-weight: 500;
            font-size: 37px;
            line-height: 55px;
            color: #000000;
            margin-top: -10px;
        }
        
        .subp {
            font-weight: 500;
            font-size: 27px;
            line-height: 60px;
            color: rgba(0, 0, 0, 0.8);
        }
        
        .p4 {
            width: 366px;
            height: 70px;
            font-weight: 400;
            font-size: 13px;
            line-height: 21px;
            color: #666666;
            margin-top: -10px;
        }
        
        .part5 {
            position: absolute;
            top: 2900px;
        }
        
        .image10 {
            position: absolute;
            left: 10px;
        }
        
        .image11 {
            position: absolute;
            left: 220px;
            top: 120px;
        }